<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="Gecko"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@null" android:label="Gecko">
        <activity android:name="CApp"
                  android:label="Gecko">
            <intent-filter>
                <action android:name="elastos.intent.action.MAIN"/>
                <category android:name="elastos.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>